---
import { Image } from "astro:assets";
import diamond from "../assets/img/diamond.svg"
import blockchain from "../assets/img/blockchain.svg"
import cube from "../assets/img/ion_cube.svg"
import market from "../assets/img/market.svg"
import money from "../assets/img/money-bag.svg"
import ticket from "../assets/img/ticket.svg"
import Card from "./Card.astro"

import elipse from "../assets/img/ellipse-convert.svg"
import elipseSm from "../assets/img/ellipse-convert-sm.svg"
import Slider from "./Slider";

const info = [ 
    {
        icon: ticket,
        title: "Capitalize on improved odds",
        description: 'Unlock the value of the future bets with better than market odds'
    },
    {
        icon: blockchain,
        title: "Maximize Almost Win Parlays",
        description: 'Turn near wins into tangible opportunities.'
    },
    {
        icon: money,
        title: "Secure Guaranteed Wins",
        description: 'Cash out early without heavy sportsbook penalties.'
    },
    {
        icon: diamond,
        title: "Access exclusive bet opportunities",
        description: 'Unlock the value of the future bets with better than market odds'
    },
    {
        icon: market,
        title: "Leverage Favorable Market Changes",
        description: 'Benefit when market odds swing in your favor.'
    },
    {
        icon: cube,
        title: "Free up Account balances",
        description: 'Sell bets at a discount to get out of your current stake.'
    },
]
---


<section class="relative w-full m-auto md:min-h-[936px] grid py-10">
    <Image src={elipse} alt="elipse" class="hidden md:block md:absolute z-0 top-0 left-0 w-screen"/>
    <Image src={elipseSm} alt="elipse" class="absolute md:hidden -top-96 z-0" />
    <div class="grid grid-cols-1 max-w-7xl max-h-fit z-20 m-auto px-4 md:px-0 md:gap-[71px] gap-[28px]">
        <h2 class="font-daciaRegular font-bold text-white text-[32px] md:text-5xl uppercase leading-[145%] md:leading-[145%] max-w-fit" style="letter-spacing: -0.02em;">WHY <span class="text-yellow">CONVERT</span> YOUR BETS INTO DIGITAL CERTIFIED TICKETS?</h2>
        <div class="w-full md:hidden block">
            <Slider slides={info} client:visible />
        </div>
        <div class="hidden md:grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-9 md:gap-y-14">
            {info.map((item) => (
              <Card src={item.icon} title={item.title} description={item.description} />
            ))}
          </div>
    </div>
</section>
