---
import { Image } from "astro:assets";

import logo from "../assets/img/footer-logo.svg";
import linkedin from "../assets/img/LinkedIn.svg";
import twitter from "../assets/img/Twitter.svg";

import elipse from "../assets/img/ellipse-footer.svg";
import elipseSm from "../assets/img/ellipse-footer-sm.svg";
---

<footer class="relative h-auto bg-yellow overflow-hidden">
    <Image src={elipse} alt="elipse" class="hidden md:block md:absolute left-0 top-0 z-0" />
    <Image src={elipseSm} alt="elipse" class="absolute md:hidden left-0 bottom-0 z-0" />
    <div class="relative grid grid-cols-1 w-full px-2 md:max-w-[1440px] md:py-8 py-4 m-auto md:px-4">
        <div class="grid grid-cols-2 w-full">
            <div class="grid grid-cols-1 md:gap-5 gap-3 max-w-fit">                
                <div class="flex items-center gap-2">
                    <a href="https://www.linkedin.com/company/betsell">
                        <Image src={linkedin} alt="Linkedin logo" class="md:hidden block cursor-pointer w-12 md:w-20" />
                    </a>
                    <a href="https://x.com/BetSell_io" target="_blank">
                        <Image src={twitter} alt="Twitter logo" class="md:hidden block cursor-pointer w-12 md:w-20" />
                    </a>
                    <img src="/footer-logo.png" alt="BetSell Logo"  class="md:h-[65px] w-auto mx-auto hidden md:block"/>
                </div>
            </div>

            <div class="flex md:gap-5 gap-3 max-w-fit ml-auto">
                
                <a href="https://www.linkedin.com/company/betsell">
                    <Image src={linkedin} alt="Linkedin logo" class="hidden md:block cursor-pointer w-12 md:w-20" />
                </a>
                <a href="https://x.com/BetSell_io" target="_blank">
                    <Image src={twitter} alt="Twitter logo" class="hidden md:block cursor-pointer w-12 md:w-20" />
                </a>
                <a href="mailto:founders@betsell.com" class="bg-[#121212] text-white font-inter md:text-xl text-sm px-4 md:py-6 md:px-6 rounded-xl hover:bg-[#212121] min-w-[149px] flex items-center justify-center">
                    Contact founders
                </a>
                
            </div>
        </div>
    </div>
</footer>