---
import { Image } from "astro:assets";

import Ramirez from "../assets/img/Ramirez.svg";
import Sandi from "../assets/img/Sandl.svg";
import linkedIn from "../assets/img/linkedIn-founders.svg";
import elipse from "../assets/img/ellipse-us.svg"
import elipseSm from "../assets/img/ellipse-us.svg"
---

<section class="relative w-full m-auto md:min-h-[936px] grid py-10">
    <!-- <Image src={elipse} alt="elipse" class="hidden md:block md:absolute z-0 top-0 left-0 w-screen"/>
    <Image src={elipseSm} alt="elipse" class="absolute md:hidden -top-96 z-0" /> -->
    <div class="flex flex-col md:flex-row md:gap-[85px] md:max-w-[707px] md:items-center mx-auto text-left">
        
            <h2 class="font-daciaRegular font-bold text-[#F2E900] text-[32px] md:text-5xl uppercase leading-[145%] md:leading-[145%] max-w-fit md:m-auto mb-5" style="letter-spacing: -0.02em;">US</h2>

        
        <div class="grid grid-cols-2 md:gap-10 gap-[14px]">
            <div class="grid grid-cols-1 md:gap-5 gap-[14px] text-white max-h-[401px]">
                <Image src={Ramirez} alt="Aramis Ramirez" class="rounded-lg md:w-[224px] w-[162px]" />
                <div class="grid grid-cols-1 gap-2">
                    <h3 class="font-daciaRegular font-bold md:text-[20px] md:leading-[130%] text-[14px] leading-[130%" style="letter-spacing: -0.02em;">Aramis Ramírez</h3>
                    <p class="font-inter md:text-base md:leading-[130%] text-[12px] leading-[130%]" style="letter-spacing: -0.02em;">CEO & CO FOUNDER</p>
                </div>
                <div class="border-y border-dashed border-white flex justify-between items-center py-6">
                    <p class="font-inter md:text-base md:leading-[130%] text-[12px] leading-[130%]" style="letter-spacing: -0.02em;">Betting Operator</p>
                    <Image src={linkedIn} alt="linkedIn logo" class="w-[20px] md:w-[28px]" />
                </div>
            </div>

            <div class="grid grid-cols-1 md:gap-5 gap-[14px] text-white max-h-[401px]">
                <Image src={Sandi} alt="Aramis Ramirez" class="rounded-lg md:w-[224px] w-[162px]" />
                <div class="grid grid-cols-1 gap-2">
                    <h3 class="font-daciaRegular font-bold md:text-[20px] md:leading-[130%] text-[14px] leading-[130%]" style="letter-spacing: -0.02em;">Jafett Sandi</h3>
                    <p class="font-inter md:text-base md:leading-[130%] text-[12px] leading-[130%]" style="letter-spacing: -0.02em;">CTO & CO FOUNDER</p>
                </div>
                <div class="border-y border-dashed border-white flex justify-between items-center py-6">
                    <p class="font-inter md:text-base md:leading-[130%] text-[12px] leading-[130%]" style="letter-spacing: -0.02em;">Engineering Architect</p>
                    <a href="#">
                        <Image src={linkedIn} alt="linkedIn logo" class="w-[20px] md:w-[28px]" />

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
