---
import { Image } from "astro:assets"
import elipse from "../assets/img/ellipse-why.svg"
import elipseSm from "../assets/img/ellipse-why.svg"

import diamond from "../assets/img/diamond.svg"
import diamond2 from "../assets/img/diamond-2.svg"
import cube from "../assets/img/ion_cube.svg"
import market from "../assets/img/market.svg"
import money from "../assets/img/money-bag.svg"
import ticket from "../assets/img/ticket.svg"
import Card from "./Card.astro"
import Slider from "./Slider"

const info = [ 
    {
        icon: ticket,
        title: "Easy Process",
        description: 'Seamlessly transform your bets into certified NFTs with a single click. BetSell’s partnerships with trusted sportsbooks ensure your bets become unique, transferable digital assets.'
    },
    {
        icon: diamond2,
        title: "Secure",
        description: 'BetSell guarantees the authenticity of every NFT through blockchain verification and trusted sportsbook certification. You maintain full control over your assets and payments, with no holdings or interference from BetSell.'
    },
    {
        icon: cube,
        title: "Privacy",
        description: 'Trade safely and anonymously with no personal information required. Your crypto wallet serves as your unique identifier, ensuring your privacy in a secure Web3 ecosystem.'
    },
    {
        icon: market,
        title: "Global Market",
        description: 'BetSell simplifies trading by handling the technological complexities, allowing users to focus on securely and easily trading their assets with players worldwide.'
    },
    {
        icon: money,
        title: "Trusted",
        description: 'All Betsell digital certified tickets are supported by liquidity pools, ensuring the payout of winning tickets and the secure allocation of funds to ticket holders.'
    },
]
---

<section class="relative w-full m-auto md:min-h-[936px] grid py-10">
    <Image src={elipse} alt="elipse" class="hidden md:block md:absolute z-0 top-0 left-0 w-screen"/>
    <Image src={elipseSm} alt="elipse" class="absolute md:hidden -top-96 z-0" />
    <div class="grid grid-cols-1 max-w-7xl w-full max-h-fit z-20 m-auto px-4 md:px-0 md:gap-[71px]">
            <h2 class="font-daciaRegular font-bold text-[#F2E900] text-[32px] md:text-5xl uppercase leading-[145%] md:leading-[145%] max-w-fit" style="letter-spacing: -0.02em;">WHY USE BETSELL?</h2>
            <div class="w-full md:hidden block">
                <Slider slides={info} client:visible />
            </div>
        <div class="hidden md:grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-9 md:gap-y-14">
            {info.map((item) => (
              <Card src={item.icon} title={item.title} description={item.description} />
            ))}
          </div>
    </div>
</section>
